html {
  min-height: 100%;

}
body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    linear-gradient(
      168.3deg,
      rgba(233, 30, 99, 0.25) 20%,
      rgba(25, 57, 102, 0.25) 65%
    ),
    #19488a;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: none;
  margin: 0;
  padding: 0;
}

h1 {
  width: 100%;
  max-width: fit-content;
  width: 40%;
  min-width: 35%;
}
h2 {
  width: 100%;
  max-width: fit-content;
  width: 40%;
  min-width: 25%;
}

/* .mobileWrapper {
  display: flex;
  flex-flow: row wrap;
} */

/* We tell all items to be 100% width, via flex-basis */
/* .mobileWrapper > * {
  flex: 1 100%;
} */

/* We rely on source order for mobile-first approach
       * in this case:
       * 1. header
       * 2. article
       * 3. aside 1
       * 4. aside 2
       * 5. footer
       */


/* header {
  display: flex;
  flex-direction: row;
  font-weight: 300;
  min-height: 95px;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  position: fixed;
  width: 100%;
} */
.navbar {
  display: flex;
  justify-content: space-between center;
  font-family: "Amiko", sans-serif;
  font-weight: 300;
  /* max-width: 1080px; */
  align-items: center;
  align-content: center;
}
nav .logo {
  margin: 0 0 0 .45em;
  padding: 2em;
}
nav .logo-img {
  align-content: center;
}
nav .logo-text {
  margin-bottom: 0.65rem;
  align-content: center;
  font-family: Signika Negative;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  /* identical to box height */
  letter-spacing: 0.04em;
  text-transform: lowercase;
}
nav .logo a, a {
  text-decoration: none;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  list-style: none;
  /* flex: 50%; */
}
.nav-menu a {
  display: block;
  padding: 2em;
  opacity: 0.7;
  color: whitesmoke;
}
.nav-menu .login {
  font-weight: 700;
  color: #7df0d8;
}
nav a:hover {
  opacity: 1;
  cursor: pointer;
}
/* <----------Hero------------->*/
main .container {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  position: relative;
}

main .hero-bg-grp {
  display: flex;
  justify-content: flex-end;
  flex-grow: 3; /* default 0 */
}
main .hero-img {
  display: flex;
  justify-content: flex-end;
  flex-grow: 4; /* default 0 */
  position: absolute;
  max-height: 100%;

  margin-left: 50rem;
  margin-right: 5rem;
  top: 15rem;
  border-radius: 25px;
  background-size: cover;
  overflow: hidden;
  opacity: 100;
  z-index: 1;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}

main .bg-img {
  /* background-image: url('/patternpad.svg');*/
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  max-width: 795.33px;
  max-height: 565.2px;
  margin-left: 45rem;
  margin-right: 75px;
  top: 140.62px;
  transform: rotate(-0.26deg);
  overflow: hidden;
  background-position: right;
  background-size: cover;
  opacity: 100;
  backface-visibility: hidden;
}

main .title {
  display: flex;
  flex-wrap: wrap;
  font-family: "Signika Negative", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  font-style: semibold;
  max-height: 11.87rem;
  max-width: 42.625rem;
  position: relative;
  margin-left: 5rem;
  top: 173px;
  border-radius: 25px;
  line-height: 4rem;
  color: white;
}

main .subtitle {
  display: flex;
  font-family: "Amiko", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  position: absolute;
  max-height: 151px;
  max-width: 588px;
  margin-left: 5rem;
  top: 362px;
  color: white;
  line-height: 2rem;
  padding-top: 4rem;
  justify-content: center;
}
.btn-lg {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background: #08cda3;
  border-radius: 12px;
  padding: 0 1.5em;
  position: absolute;
  margin-top: 22rem;
  margin-left: 5rem;
  margin-right: 2rem;
  cursor: pointer;
  opacity: 0.95;
  border-style: none;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1rem;
  font-weight: 600;
  font-family: "Amiko", sans-serif;
}

.btn-lg:hover {
  opacity: 1;
  /*background: rgba(0, 0, 0, 0.16); */
}
.btn-md {
  display: flex;
  position: static;
  color: white;
  font-style: bold;
  font-weight: 300;
  font-size: 2rem;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.08em;
}

footer {
  position: relative;
  margin-top: 800px;
}

/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .navbar {
    flex-direction: column;
  }
  
  nav .logo {
  margin-top:1rem;
}
  .nav-menu  {
    width: 100%;
    justify-content: space-around;
  }
main {
  flex-direction: column;
}
  main .hero-bg-grp {
    display: flex;
    justify-content: flex-end;
    flex-grow: 3; /* default 0 */
  }
  main .hero-img {
    flex-direction: column;
    justify-content: center;
}

/* ****** iPhone X 375x812 ****** */
@media all and (max-width: 600px) {
 /* <--------NAvigation--------- */
 .navbar{ 
   margin-bottom: 0;
 } 
 .logo {
    margin: .25em 0;
    align-self: left; /* align the logo to the left side of 'flex-container' */
}
  
  .nav-menu {
    flex-direction: column;
    padding-left: 0;
  }
  
  .nav-menu a { 
    margin: 0;
    text-align: center; 
    padding: 10px;
    /* border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1);  */
  }
  
  .nav-menu li:last-of-type a {
    border-bottom: none;
  }

  main .container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-height: fit-content;
    max-width: fit-content;
    padding:0;
    margin: 0;
  }
  main .title {
    /* display: block; */
    margin: 0 2rem;
    font-size: 1.55rem;
    line-height: 2rem;
    width: fit-content;
    position: absolute;
    margin-top: 8em;
    order: 1;
  }
  main .subtitle {
    /* display: block; */
    font-size: .75rem;
    width: fit-content;
    margin: 0 2em;
    line-height: 1rem;
    position: absolute;
    margin-bottom: 10em;
    margin-top: 2rem;
  }
  .btn-lg {
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    background: #08cda3;
    border-radius: 12px;
    padding: 0 1.5em;
    cursor: pointer;
    opacity: 0.95;
    border-style: none;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1rem;
    font-weight: 600;
    font-family: "Amiko", sans-serif;
    margin: 0;
  }
  main .hero-bg-grp {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* default 0 */
  }
  main .bg-img{
    align-content: center;
    position: absolute;
    margin-top: em;
    justify-content: flex-start;
    margin: 0 2em;
    padding-top: 28rem;

  
  }
  main .hero-img {
    align-content: center;
    position: absolute;
    margin-top: em;
    justify-content: flex-start;
    margin: 0 2em;
    padding-top: 20rem;
  }
}