html {
  min-height: 100%;
  font-family: 'Amiko', sans-serif;
  color: white;
  /* background: linear-gradient(160.62deg, rgba(233, 30, 99, 0.25) 0%, rgba(27, 38, 84, 0.25) 48.19%), #121C43; */
  background-color: #121C43;
}
body {
  max-height: none;
  padding: 0;

}
h1 {
  font-family: 'Signika Negative', sans-serif;
  min-width: 35%;
}
h2 {
  min-width: 25%;
}
.wrapper {
  width: 1440px;
  margin: 0 auto;
  /* display: flex;
  flex-flow: wrap; */
} 

/* We tell all items to be 100% width, via flex-basis */
 /* .mobileWrapper > * {
  flex: 1 100%;
} */

header {
  background: linear-gradient(160.62deg, rgba(233, 30, 99, 0.25) 0%, rgba(27, 38, 84, 0.25) 48.19%), #121C43;
      }
.navbar {
  display: flex;
  justify-content: space-between center;
  font-family: "Amiko", sans-serif;
  font-weight: 300;
  /* max-width: 1080px; */
  align-items: center;
  align-content: center;
}
nav .logo {
  margin: 0 0 0 .45em;
  padding: 2em;
}
nav .logo-img {
  align-content: center;
}
nav .logo-text {
  margin-bottom: 0.65rem;
  align-content: center;
  font-family: Signika Negative;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  /* identical to box height */
  letter-spacing: 0.04em;
  text-transform: lowercase;
}
nav .logo a, a {
  text-decoration: none;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  list-style: none;
  /* flex: 50%; */
}
.nav-menu a {
  display: block;
  padding: 2em;
  opacity: 0.7;
  color: whitesmoke;
}
.nav-menu .login {
  font-weight: 700;
  color: #7df0d8;
}
nav a:hover {
  opacity: 1;
  cursor: pointer;
}
/* <----------Hero------------->*/
main {
  display: flex;
  position: relative; 
}


main h1 {
  font-family: "Signika Negative", sans-serif;
  max-width: 802px;
  font-size: 4rem;
  font-weight: 700;
  color: white;
  margin-left: 122px;
  width: fit-content;
}
main h2 {
  margin-left: 122px;
  width: fit-content;
  /* max-width: 600px; */
  font-weight: 300;
  font-size: 1.85rem;
  color: white;
  line-height: 2.25rem;

}
header p {
  width: 25px;
}
main .hero-container {
  margin-right: 122px;
}
main .herobox1 {
    flex: 1;
    flex: 50%
  }
  main .hero-img{
    display: flex;
    flex: 2;
    background-image: url("/assets/img/hero-bg-animated.svg");
    background-repeat: no-repeat;
    background-size: 600px auto;
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
    position: relative;
  }
  .business{
    display: flex;
    align-items: center;
    position: relative;
    max-width: 40rem;
  }
/* main .bg-img {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  max-width: 50%;
  max-height: 565.2px;
  margin-left: 45rem;
  margin-right: 75px;
  top: 21rem;
  transform: rotate(-0.26deg);
  overflow: hidden;
  background-position: right;
  background-size: cover;
  opacity: 100;
  backface-visibility: hidden;
} */

/* main .title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Signika Negative", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  font-style: semibold;
  max-height: 11.87rem;
  max-width: 850px;
  min-width: 850px;
  position: relative;
  margin-left: 5rem;
  border-radius: 25px;
  line-height: 6rem;
  color: white;
  z-index: 1;
} */

/* main .subtitle {
  display: flex;
  font-family: "Amiko", sans-serif;
  font-size: 1.75rem;
  line-height: 4em;
  font-weight: 300;
  position: absolute;
  max-height: 151px;
  max-width: 588px;
  min-width: 500px;
  margin-left: 5rem;
  top: 362px;
  color: white;
  line-height: 2rem;
  padding-top: 4rem;
  justify-content: center;
} */
main .btn-lg {
  
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background: #08cda3;
  border-radius: 12px;
  padding: 1em 1.5em;
  /* position: absolute;
  /* margin-top: 22rem; */
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 122px; 
  cursor: pointer;
  opacity: 0.95;
  border-style: none;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1rem;
  font-weight: 600;
  font-family: "Amiko", sans-serif;
  letter-spacing: 0.02em;
}

.btn-lg:hover {
  opacity: 1;
  /*background: rgba(0, 0, 0, 0.16); */
}
.btn-md {
  display: flex;
  position: static;
  color: white;
  font-style: bold;
  font-weight: 300;
  font-size: 2rem;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.08em;

}
.section-1 {
  display:flex;
  justify-content: center;
  background-color: #f5f5f5;
}
.content-box{
display: flex;
margin-left: 196px;
margin-right: 196px;
margin-top: 86px;
margin-bottom: 86px;
width: 1051px;
height: 220px;
background-color: white;
}
.section-1 .copy-1{
  flex: 1;
  justify-content: center;
  margin-left: 2.875rem;
}
.section-1 h2{
  color: black;
}
.section-1 p{
  color: black;
}
.success-img{
  display: flex;
  justify-content: center;
  flex: 2;
  background-image: url(/assets/img/section-1/Success\ 2.svg);
  background-repeat: no-repeat;
width: 522px;
height: 624px;
margin-left: 2.875rem;
filter: drop-shadow(0px 4px 45px #F45B69);
}

.feature-list-container {
  align-items: center;
  list-style: none;
  background-color: white;
  margin: 0;

}
.list-box {
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin: 0 122px;
}
.feature-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.list-box a {
  display: block;
  padding: 2em;
  opacity: 0.7;
  color: darkslategray;
  font-family: 'Signika Negative', sans-serif;
  font-size: 1.125rem;
  letter-spacing: .125rem;
}
footer {
  position: relative;
  margin-top: 800px;
}

/* *********** media queries *********** */
/* @media all and (max-width: 990px) {
  .navbar {
    flex-direction: column;
  }
  
  nav .logo {
  margin-top:1rem;
}
  .nav-menu  {
    justify-content: space-around;
    flex: 50%
  }
  .navbar{ 
    margin-bottom: 0;
  } 
  .logo {
     margin: .25em 0;
     align-self: left; align the logo to the left side of 'flex-container' */
 }


}

/* ****** iPhone X 375x812 ****** */
/* @media all and (max-width: 600px) { */
 /* <--------NAvigation--------- */
 /* .navbar{ 
   margin-bottom: 0;
 } 
 .logo {
    margin: .25em 0;
    align-self: left; */
     /* align the logo to the left side of 'flex-container' */
}
  
  /* .nav-menu {
    flex-direction: column;
    padding-left: 0;
  }
  
  .nav-menu a { 
    margin: 0;
    text-align: center; 
    padding: 10px; */
    /* border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1);  */
  }
  
  /* .nav-menu li:last-of-type a {
    border-bottom: none;
  }

  main .container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-height: fit-content;
    max-width: fit-content;
    padding:0;
    margin: 0;
  }
  main .title {
    display: block;
    align-content: center;
    margin: 0 2rem;
    font-size: 2rem;
    line-height: 2.5rem;
    min-width: 360px;
    position: absolute;
    top: 22rem;
  }
  main .subtitle {
    align-content: center;
    display: block;
    max-width: 428px;
    font-size: 1rem;
    margin: 0 2em;
    line-height: 1.5rem;
    position: absolute;
    top: 28rem;
    margin-top: 1.5rem;
    font-size: .75rem;
    min-width: 345px;
    padding: 0;

  }
  .btn-lg {
    display: inline-block;
    position: relative;
    top: 42rem;
    text-align: center;
    text-decoration: none;
    background: #08cda3;
    border-radius: 12px;
    padding: 0 1.5em;
    cursor: pointer;
    opacity: 0.95;
    border-style: none;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1rem;
    font-weight: 600;
    font-family: "Amiko", sans-serif;
    margin: 2rem 2rem ;
    
  }
  main .hero-bg-grp {
    display: inline-block;
    vertical-align: center;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    /* default 0 */
  /* }
  main .bg-img{
    display: inline-block;
    vertical-align: center;
    align-content: center;
    position: absolute;
    justify-content: flex-start;
    margin: 0 2em;
    top: 38rem;
    max-width: 400px;

  
  }
  main .hero-img {
    align-content: center;
    position: absolute;
    top: 38rem;
    justify-content: flex-start;
    margin: 0 2em;
    max-width: 400px;

  }
}
@media all and (max-width: 1080px) {
  .container: 1080px;

} */ 